.reservationForm {
    max-width: 38%;
    margin: 6.8rem auto 2.5%;
    padding: 22px;
    background: rgb(240, 249, 250);
    border-radius: 8px;
    box-shadow: var(--shadow);
  }
  
  .reservationForm h1 {
    text-align: center;
    font-weight: 600;
    font-size: x-large;
    color: #046e80;
  }
  
  .reservationForm form {
    display: flex;
    flex-direction: column;
  }
  
  .reservationForm form label {
    margin-top: 10px;
    color: var(--bluevio);
    font-weight: bold;
  }
  
  .reservationForm form input {
    padding: 10px;
    margin-top: 5px;
    border: 1.59px solid var(--bluevio);
    border-radius: 5px;
  }
  .reservationForm form input:focus{
    outline: none;
    border-color: var(--orange);
    box-shadow: 0 0 0 3px rgba(232, 178, 152, 0.2);
  }
  
  .reservationForm form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #f57c00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .reservationForm form button:hover {
    background-color: #e66a00;
  }

  @media (max-width: 768px) {
    .reservationForm {
        max-width: 55%;
    }
  }

  @media (max-width: 480px) {
    .reservationForm {
        max-width: 80%;
    }
  }