*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    font-family: Roboto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
main .container {
   
    margin: 0 auto;
    padding: 0 90px;

}
main .container p.title{
    text-align: center;
    font-size: 64px;
    color: #063475;
 
    
}

main .container .over {
    width: 100%;
}
main .container .over img{
  width: 100%;  
    
}
main .container p.easy {
    text-align: center;
    color: #15919B;
    padding: 20px 0;
}
main .container .button {
    display: flex;
    justify-content: center;
    gap: 0 30px;
}
main .container .button a{
    background-color: #F78C6A ;
    color: #083472;
    border-radius: 20px;
    padding: 5px 10px;

}
main .container p.q {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;

}
main .container .icons{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
main .container .icons i {
    font-size: 30px;
    padding-bottom: 8px;
}
main .container .booking {
    background-image: url(../src/assets/people.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 723px;
    margin-top: 20px;

}
main .container .booking p {
    padding-top: 100px;
    color: #083472;
    font-size: 34px;
    text-align: center;
    font-weight: bold;
}
main .container .booking .buttons {
    display: flex;
    justify-content: center;
    gap: 0 30px;

}
main .container .booking .buttons a{
    background-color: #F78C6A ;
    color: #083472;
    border-radius: 20px;
    padding: 5px 10px;
}