.container {  
    max-width: 400px;         
    margin: 160px auto 110px;       
    padding: 20px;            
    background: rgb(248, 253, 253);         
    border-radius: 8px;      
    box-shadow: var(--shadow);   
}  

 
.container h1 {  
    text-align: center;  
    font-weight: bold;  
    font-size: 2rem;  
    color: var(--bluevio);           
}
.container label{
    color: var(--bluevio);
}  

.container input {  
    width: 90%;               
    padding: 10px;            
    margin: 10px 0 19px;         
    border: 1px solid var(--bluevio);  
    border-radius: 5px;  
} 
.container input:focus{
    outline: none;
    border-color: var(--orange);
    box-shadow: 0 0 0 3px rgba(232, 178, 152, 0.2);
}

.container button {  
    width: 95%;              
    padding: 10px;            
    background-color: #F07122;   
    color: white;             
    border: none;             
    border-radius: 5px;       
    cursor: pointer;    
    margin: 0;      
}  

.container button:hover {  
    background-color: #e0a485;   
}  

.container a {  
    display: block;             
    text-align: center;        
    margin-top: 10px;          
    color: rgb(6, 6, 179);     
}  