.registerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    background-color: #f0f9fa; 
    padding: 2rem;
  }
  
  .registerCard {
    background: white;
    border-radius: 1.5rem;
    box-shadow: var(--shadow);
    padding: 2.5rem;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .registerCard h2 {
    font-size: 1.8rem;
    color: var(--bluevio);
    margin-bottom: 1rem;
  }
  
  .registerCard p {
    font-size: 1rem;
    color: var(--bluevio);
    opacity: 0.8;
    margin-bottom: 2rem;
  }
  
  .buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .signinButton,
  .contactButton {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border-style: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .signinButton {
    background: var(--orange);
    border-color: var(--orange);
    color: white;
  }
  
  .signinButton:hover {
    background: #e0a485;
    border-color: #e0a485;
    transform: translateY(-2px);
  }
  
  .contactButton {
    background-color: white;
    border-color: var(--orange);
    color:var(--bluevio);
  }
  
  .contactButton:hover {
    background:#e0a485;
    transform: translate;
  }