body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
    background-color: #ffffff;  
}  

:root {  
    --bluev: #15919B;  
    --blue: #0C6478;  
    --bluevio: #063475;  
    --orange: #F07122;  
    --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);  
}  

.navbar {  
    background: var(--bluev);  
    box-shadow: var(--shadow);  
    position: fixed;  
    top: 0;  
    left: 0;  
    right: 0;  
    z-index: 10000;  
}  

.nav-container {  
    max-width: 1300px;  
    margin: 0 auto;  
    padding: 0.6rem;  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
}  

.nav-logo {  
    display: flex;  
    align-items: center;  
    gap: 0.5rem;  
    text-decoration: none;  
    transition: color 0.3s ease;  
}  

.nav-logo img {  
    height: 4rem;  
    width: auto;  
}  

.nav-links {  
    display: flex;  
    gap: 2rem;  
}  

.nav-link {  
    color: white;  
    text-decoration: none;  
    font-weight: 900;  
    padding: 0.5rem 1rem;  
    border-radius: 9999px;  
    transition: all 0.3s ease-in;  
}  

.nav-link-in {  
    color: white;  
    font-weight: 900;  
    font-size: large;  
    padding: 0.5rem 1rem;  
    transition: all 0.3s ease;  
    text-shadow: var(--shadow);  
}  

.nav-link:hover {  
    color: var(--bluevio);  
}  

.signin {  
    border: 2px solid var(--bluevio);  
    background-color: transparent;  
    border-radius: 5px;  
    color: var(--bluevio);  
    font-size: large;  
    font-weight: 600;  
    padding: 0.35rem 1.1rem;  
}  

.signin:hover {  
    background-color: var(--bluevio);  
    color: white;  
    font-weight: 700;  
}  

.nav-link.active {  
    color: white;  
}  

.mobile-menu {  
    display: none;  
    background: none;  
    border: none;  
    color: var(--bluevio);  
    cursor: pointer;  
    padding: 0.5rem;  
}  

.mobile-menu i {  
    font-size: 1.8rem;  
}  

.container {  
    max-width: 400px;           
    margin: 100px auto;       
    padding: 20px;            
    background: white;         
    border-radius: 8px;      
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);   
}  

 
h1 {  
    text-align: center;  
    font-weight: bold;  
    font-size: 2rem;  
    color: #063475;           
}  

input {  
    width: 100%;               
    padding: 10px;            
    margin: 10px 0;         
    border: 1px solid #ddd;  
    border-radius: 5px;  
}  

button {  
    width: 100%;              
    padding: 10px;            
    background-color: #F07122;   
    color: white;             
    border: none;             
    border-radius: 5px;       
    cursor: pointer;          
}  

button:hover {  
    background-color: #F07122;   
}  

a {  
    display: block;             
    text-align: center;        
    margin-top: 10px;          
    color: rgb(6, 6, 179);     
}  

footer {  
    background-color: #046e80;   
    color: white;                
    padding: 20px;             
    margin-top: 20px;         
}  

.footer-content {  
    display: flex;  
    justify-content: space-between;  
}  

.footer-description,  
.footer-contact,  
.quick-links {  
    flex: 1;                     
    margin: 0 1rem;            
}  

.footer-bottom {  
    text-align: center;         
    margin-top: 20px;           
    border-top: 1px solid white;   
    padding-top: 10px;        
}  

  
@media (max-width: 768px) {  
    .nav-links {  
        display: none;  
    }  
    .mobile-menu {  
        display: block;  
    }  
    .nav-links.active {  
        display: flex;  
        flex-direction: column;  
        position: absolute;  
        top: 100%;  
        left: 0;  
        right: 0;  
        background: rgba(235, 241, 243, 0.95);  
        padding: 1rem;  
        box-shadow: var(--shadow);  
    }  
    .nav-logo img {  
        height: 3rem;  
        width: auto;  
    }  
}  

@media (max-width: 480px) {  
    .nav-container {  
        padding: 1rem;  
    }  
    .copy {  
        padding-left: 0;  
        padding-right: 0;  
    }  
}
